.button {
  width: 186px;
  height: 30px;
  background-color: $white;
  border: 1px solid $text-main;

  font-family: $montserrat;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &_big {
    width: 275px;
    height: 43px;
    font-size: 15px;
    letter-spacing: 0.87px;
  }

  &_secondary {
    background-color: $text-secondary;
    border: none;
    color: $white;
  }

  &__title {}
}