.header {
  &__order {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  &__wrapper-lines {
    margin-top: 26px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
  }

  &__line {
    width: 548px;
    height: 1px;
    background-color: $text-main;
  }

  &__wrapper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__phone {
  }

  &__messanger {
  }

  &__picture {
    width: 213px;
    height: 82px;
    background-image: url(../components/header/logo.png);
  }

  &__button-tariff {
  }

  &__button-order {
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: $text-main;

    @media (min-width: 960px) {
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  &__company {
    color: $white;
    font-family: $romul;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 0;

    @media (min-width: 960px) {
      display: none;
    }
  }

  &__menu-item {
    order: 2;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    display: none;
    font-family: $romul;
    color: $white;

    @media (min-width: 960px) {
      display: block;
      padding: 18px 0;
      width: auto;
      order: 0;
    }

    &_active {
      display: block;
    }
  }

  &__separator {
    display: none;

    @media (min-width: 960px) {
      display: block;
      width: 1px;
      height: 20px;
      margin: 0 3.5%;
      background-color: $white;
    }
  }

  &__link {
    color: $white;
    font-family: $romul;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.36px;

    &:hover {
      color: $text-secondary;
    }
  }

  &__toggle {
    order: 1;

    @media (min-width: 960px) {
      display: none;
    }
  }

  &__burger {
    font-style: normal;
    cursor: pointer;
    color: $white;
  }
}
