include ../components/button/button.pug
include ../components/phone/phone.pug
include ../components/header/header.pug


html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='pegasus')
    meta(name='description' content='pegasus')
    title Pegasus Экскурсии
    link(rel='stylesheet' href='./index.scss')
  body.pegasus
    .pegasus__header
      +header()
    h1 aoeiueoi
    +button({
      isBig: false,
      isSecondary: false,
      title: 'узнать тариф'
    })
    +button({
      isBig: true,
      isSecondary: false,
      title: 'подробнее'
    })
    +button({
      isBig: false,
      isSecondary: true,
      title: 'сделать заказ'
    })

    .wrap
      +phone({
        number: '+44 20 7719 8816',
        text: 'круглосуточно'
      })
      
  
  script(src='./index.js')