html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='pegasus')
    meta(name='description' content='pegasus')
    title Pegasus Экскурсии
    link(rel='stylesheet' href='./index.scss')
  body
    h1 aoeiueoi