include ../components/button/button.pug
include ../components/phone/phone.pug
include ../components/header/header.pug
include ../components/card/card.pug

-
  let cardTitles = ['elevate you experience', 
                    'FARNBOROUGH Airshow 2018',
                    'regatta in england',
                    'silverstone',
                    'wimbledon',
                    'Lorem ipsum',];
  let picsUrl = ['images/1.png',
                  'images/2.png',
                  'images/3.png',
                  'images/4.png',
                  'images/5.png',
                  'images/6.png',];
  let j = 0;

html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='pegasus')
    meta(name='description' content='pegasus')
    title Pegasus Экскурсии
    link(rel='stylesheet' href='./index.scss')
  body.pegasus
    .pegasus__header
      +header()
    .pegasus__wrapper
      section.pegasus__content
        .pegasus__pagination
          p.pegasus__page-one Главная  |
          p.pegasus__page-two События  |
          p.pegasus__page-active Экскурсии
        .pegasus__horizontal-separator
        .pegasus__title
          .pegasus__title-text pegasus luxury services
          .pegasus__page
            .pegasus__vertical-separator
            .pegasus__page-name экскурсии
            .pegasus__vertical-separator
          .pegasus__text-one Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .pegasus__text-two Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt.
        .pegasus__cards
          while j < 5
            .pegasus__card
                +card({
                  imageUrl: picsUrl[j],
                  title: cardTitles[j],
                  textOne: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ',
                  textTwo: 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. '
                })
            - j++;

  script(src='./index.js')