@import "common/fonts.scss";
@import "common/variables.scss";
@import "common/normalize.scss";
@import "../components/button/button.scss";
@import "../components/phone/phone.scss";

.wrap {
  width: 900px;
  height: 500px;
  margin: 0 auto;
}
