html {
  background-color: white;
  font-family: $montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: $montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: $dark75;
}

h1 {
  font-family: $quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: $dark100;
}

h2 {
  font-family: $quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 1.5rem;
  color: $dark100;
}

h3 {
  font-family: $quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: $montserrat;
  text-transform: uppercase;
}