$text-main: #2f2c34;
$text-secondary: #d0aa8c;
$white: #ffffff;
$footer-numbers: #9a9a9a;
$footer: #131313;
$text-header: #343434;
$text-slider: #332f36;

$montserrat: Montserrat,
Arial,
sans-serif;
$romul: Romul,
Georgia, serif;